@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --bg-color: hsl(202, 86%, 94%);
  --bg-color-dark: hsl(202, 55%, 16%);
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  height: 42px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.main-container {
  width: 60%;
  height: auto;
  background-color: #fff;
  display: flex;
  border-radius: 3%;
}

/* CALCULATOR CONTAINER  */
.calculator-container {
  width: 50%;
  height: auto;
  padding: 3%;
}

.calculator-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.calculator-header button {
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 17px;
}

.mortage-amount {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
}

.mortage-amount input {
  width: 80%;
  margin-top: 12px;
}

.mortage-term {
  display: flex;
  flex-direction: row;
}

.mortage-term-wrapper {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.mortage-term-wrapper label {
  margin-bottom: 12px;
}

.mortage-term-wrapper input {
  width: 80%;
  width: 190px;
}

/* radio input container */
.mortage-type-container {
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
}

.mortage-type-container p:first-child {
  margin-bottom: 12px;
}

.radio-input-container {
  display: flex;
  text-align: center;
  align-items: center;
  width: 80%;
  height: 50px;
  border: 1px solid grey;
  margin: 10px 0px;
}

.radio-input-container input {
  margin: 0px 13px;
}

.radio-input-container p {
  font-size: 18px;
}

.calculate-btn {
  width: 50%;
  height: 57px;
  background-color: var(--lime);
  border: none;
  padding: 20px;
  border-radius: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculate-btn::before {
  content: url("/assets/images/icon-calculator.svg");
  margin-right: 7px;
}

/* RESULTS CONTAINER */
.results-container-empty {
  width: 50%;
  background-color: var(--bg-color-dark);
  color: #fff;
  border-radius: 0% 3% 3% 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-container-empty img {
  width: 200px;
}

.results-container-empty-wrapper {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-container-empty-wrapper p {
  width: 400px;
  margin-top: 20px;
  text-align: center;
  color: var(--bg-color);
}
